{{!-- <div class="category-js"> </div> --}}

{{#each this}}
<li class="category-card sliders-item">
    <img class="category-card__img" src="{{imageUrl}}" alt="photo {{title}}">
    <p class="category-card__name">{{title}}</p>
    <div class="category-card__prices">
        {{!-- <p class="category-card__price--old">{{price}}</p> --}}
        <p class="category-card__price--new">{{price}}</p>
    </div>
</li>
{{/each}}


{{!-- <div class="category unvisible">
    <div class="category-header">
        <h2 class="category-title">Транспорт</h2>
        <a href="" class="category-link" data-category="category">Смотреть все</a>
    </div>
    <p class="category-description">
        Товары домашнего обихода, видео, аудио, наушники, <br> камеры,
        аксессуары и многое другое.
    </p>
    <ul class="category-list sliders"></ul>
</div> --}}

{{!--
[
{
"title": "Tesla Model X",
"imageUrls": [
"string"
],
"description": "New tesla",
"category": "transport",
"price": 1500000,
"oldPrice": 1750000,
"isOnSale": true,
"discountPercents": 14.28571428571429,
"phone": "+380000000000",
"userId": "507f1f77bcf86cd799439011",
"_id": "507f1f77bcf86cd799439013",
"__v": 0
}
] --}}